* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #151a1d;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.container .progress {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #fff;
  background: #484646 linear-gradient(to right, transparent 50%, var(--clr) 0);
}

.container .progress h3 {
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  z-index: 1;
  font-weight: 500;
}

.container .progress h3 span {
  font-size: 20px;
  font-weight: 400;
}

.container .progress h4 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
  color: var(--clr);
  text-transform: uppercase;
}

.container .progress::before {
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
}

.container .progress::after {
  content: '';
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background: #1a1818;
}

.container .progress::before {
  background: var(--clr);
  transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}

/* if val < 50% */

.container .progress.less::before {
  background: #484646;
  transform: rotate(calc(((var(--i) - 0) * 0.01turn)));
}
