*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* HSL-  hue, saturation, lightness)*/
  /* оттенок */
  --hue: 200;
  /* насыщенность */
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 77%);
  --background-color: hsl(var(--hue), var(--saturation), 21%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.paddle {
  /* css variable */
  --position: 50;
  position: absolute;
  background-color: var(--foreground-color);
  /* Эквивалентно 1% высоты окна браузера. */
  width: 1vh;
  height: 10vh;
  /* convert with calc */
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
}

.paddle.left {
  /* Эквивалентно 1% ширины окна браузера. */
  left: 1vw;
}

.paddle.right {
  right: 1vw;
}

.ball {
  --x: 50;
  --y: 50;
  position: absolute;
  background-color: var(--foreground-color);
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  width: 2.5vh;
  height: 2.5vh;
  transform: translateY(-50%, -50%);
  border-radius: 50%;
}

.score {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
  color: var(--foreground-color);
}

.score > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2vh;
  margin: 1vh 0;
  opacity: 0.6;
}

.score > :first-child {
  text-align: right;
  border-right: 0.5vh solid var(--foreground-color);
}
