body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #67a2ea;
  color: #fff;
}

i {
  position: absolute;
  font-size: 100px;
  cursor: pointer;
}
